html {
  background: hsl(220, 15%, 55%);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  margin: auto;
}

a:link {
  color:black
  text-decoration: none;
}

a:visited {
  color: black;
}
h1 {
  font-weight: 700;
}
.box {
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: inline-block
  max-width:375px;
  padding:10px;
}

img {
border-radius: 20px;
display: block;
max-width: 100%;
padding: 4px 4px;
}

p {
color:hsl(212, 45%, 89%);
font-weight: 400;
}
