body {
  background: rgb(214,225,240);
  font-family: Outfit, sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
  text-align: center;
}

a:link {
  color:hsl(212, 50%, 15%);
}

a:visited {
  color:hsl(216, 71%, 1%);
}
h1 {
  font-weight: 600;
  color: hsl(218, 44%, 22%);
}
.box {
  display: grid;
  place-content: center;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width:375px;
  padding:8px;
}

img {
border-radius: 20px;
display: block;
max-width: 100%;
}

p {
color:hsl(220, 15%, 55%);
}

footer {
  color: hsl(216, 71%, 1%);
  position: fixed;
  bottom: 0;
  display: grid;
  place-content: center;
  margin-bottom: 0;
}