html {
  background: hsl(220, 15%, 55%);
  font-family: Outfit, sans-serif;
  font-size: 1.5rem;
}

a:link {
  color:hsl(212, 45%, 89%);
  text-decoration: none;
}

a:visited {
  color:hsl(212, 45%, 89%);
}
h1 {
  font-weight: 700;
}
.box {
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: inline-block;
  max-width:375px;
  padding:10px;
  justify-content: center;
  align-items: center;
}

img {
border-radius: 20px;
display: block;
max-width: 100%;
padding: 4px 4px;
}

p {
color:hsl(212, 45%, 89%);
font-weight: 400;
max-width: 100%;
}

footer {
  color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
}